@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WE LOVE WHAT WE DO</h1>
    <h3>Alliance Software is expanding.</h3>
    <p>We are creating career opportunities for people with great passion in Information Technology.</p>
</div>
