@{
    ViewData["Title"] = "Home Page";
}

<div class="make-center">
    <div class="col">
        <p class="display-3 text-white fw-bold">WE LOVE WHAT WE DO</p>
        <span class="fs-1 text-danger fw-bold">Alliance Software</span><span class="fs-2 text-white"> is expanding.</span>
        <p class="fs-3 text-white">We are creating career opportunities for people with great passion in Information Technology.</p>
        <button type="button" class="btn btn-outline-danger btn-lg me-2"><a class="nav-link text-white fw-bolder p-2 w-100" asp-area="" asp-controller="Job" asp-action="FindJobs">EXPLORE JOBS</a></button>
    </div>
</div>
