@{
    Layout = null;

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ViewJobDescription.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
}

<body>
    <div class="d-flex flex-row mx-5 border">
        <div class="flex-grow-1 w-75 p-2 border">Flex item 1</div>
        <div class="flex-grow-1 w-25 p-2 border">
            <hr class="w-5" />
            <ul class="list-disc">
                <li class="job-tag">8-Hour Shift</li>
                <li class="job-tag">Full-Time</li>
                <li class="job-tag">On-Site</li>
            </ul>
        </div>
    </div>
</body>