@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="HelloDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Hello @UserManager.GetUserName(User)!
            </a>
            <div class="dropdown-menu" aria-labelledby="HelloDropdown">
                <a id="manage" class="dropdown-item nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage</a>
                <form id="logoutForm" class="dropdown-item dropdown-logout form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-center border-0 p-0 mx-auto">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary me-2"><a class="nav-link login-btn fw-bolder p-2 w-100 text-dark" asp-area="Identity" asp-page="/Account/Login">LOGIN</a></button>
            </div>
        </li>
    }
</ul>
