.top-header {
    height: 78px;
    background: #ffffff;
    display: flex;
    justify-content: right;
}

.top-header .tab-label{
    font-size: 45px;
    font-weight: 900;
    padding: 0 10px;
}

.top-header .header-details {
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.top-header .header-details p{
    padding: 10px 0 5px 0;
}

.top-header .header-details p.welcome {
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
}

.top-header .header-details p.name {
    font-size: 20px;
    font-weight: bold;
}
.top-header .header-details i {
    font-size: 50px;
    padding: 0 10px 0 5px;
}

.upper-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
}
.upper-cards .card {
    width: 30rem;
    height: 15rem;
    border-radius: 5px;
    padding: 5px 10px;
}

.upper-cards .card h3,
.bottom-cards .card h3 {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
}

.upper-cards .card .card-content {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5rem;
}
.upper-cards .card p {
    font-size: 45px;
    font-weight: bolder;
    padding: 20px;
}

.upper-cards .card i {
    font-size: 110px;
    padding: 10px 20px;
}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.bottom-cards .left.card {
    width: 31rem;
    height: 36rem;
    border-radius: 5px;
    padding: 5px 10px;
}

.bottom-cards .left.card .chart-container {
    width: 20rem;
    height: 25.5rem;
    padding: 0;
    margin: auto;
}

.bottom-cards .right.card {
    width: 63rem;
    height: 36rem;
    border-radius: 5px;
    padding: 5px 10px;
}

.bottom-cards .right.card .label {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bottom-cards .right.card .label .view-all {
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: #000000;
    opacity: 0.9;
}

.bottom-cards .right.card .label .view-all:hover {
    color: #ff0000;  
}


.bottom-cards .right.card table {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
}

.bottom-cards .right.card table th,
.bottom-cards .right.card table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.bottom-cards .right.card table th {
    background-color: #f2f2f2;
}

.bottom-cards .right.card table tr:nth-child(even) {
    background-color: #f9f9f9;
}