body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.application-form {
    flex-grow: 1;
    background-color: white;
    padding-top: 50px;
    width: 100%;
}

.job-title {
    text-align: center;
    align-content: center;
    font-size: xx-large;
    font-weight: bold;
}

.application-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
    margin-left: 15%;
}

@media (max-width: 768px) {
    .application-nav ul {
        margin-left: 5%;
    }
}

    .application-nav ul li a {
        display: block;
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 30px 20px;
        font-weight: bold;
    }


        .application-nav ul li a.active {
            color: #EC2224;
        }


        .application-nav ul li a:hover:not(.active) {
            color: red;
            cursor: pointer;
        }

.form-container {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    width: 70%;
    align-content: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 6rem;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 3rem;
}

.text-header {
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: bold;
    margin: 30px 50px auto;
    border-bottom: solid 1px black;
}

.file-drop {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 20px 50px auto;
}

    .file-input {
        display: none;
    }

    .file-text {
        display: block;
        margin-top: 10px;
        color: red;
    }

    .file-drop:hover {
        border-color: #999;
    }

.image-file-drop {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0 auto;
    align-self: flex-start;
    width: 100px;
    height: 100px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .image-file-input {
        display: none;
    }

    .image-file-text {
        display: block;
        margin-top: 0;
        color: red;
        font-size: 9px;
    }

    .image-file-drop:hover {
        border-color: #999;
    }

.form-content {
    margin: 10px 50px auto;
    padding: 10px;
}

.input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .input-container label {
        margin-top: auto;
        margin-right: 10px;
        display: flex;
        align-items: center;
        width: 8rem;
    }

    .label-space::before {
    content: '\00a0';
    width: 8rem;
    display: inline-block;
    }

    .input-container input {
        margin-top: auto;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 5px 10px 5px 10px;
    }

    .input-container input.multiple-input {
        margin-top: auto;
        border: 1px solid #ccc;
        border-radius: 2px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 5px 10px;
        width: auto;
    }

    .input-container select {
        margin-top: 1rem;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 5px 10px 5px 10px;
    }

.input-container-others {
    margin-top: 10px;
    display: block;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    .input-container-others input {
        margin-top: auto;
        border: 1px solid #ccc;
        border-radius: 2px;
        align-self: flex-start;
        flex-grow: 1;
        padding: 5px 10px 5px 10px;
        width: 97.5%;
    }


sub-text-header {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}

.terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    display: none;
}

.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #fff;
    position: relative;
}

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 9px;
        border: solid red;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.terms-link a {
    color: red;
    text-decoration: underline;
}

.submit-button {
    background-color: #EC2224;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 176px;
    border-radius: 10px;
    font-size: 16px;
    padding: 1px 5px;
    border: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

    .submit-button a {
        color: white;
        text-decoration: none;
    }

    .submit-button:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

.text-footer {
    width: 70%;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: normal;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}


.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}