body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #e4e9f7;
}

.create-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 50px;
    overflow-x: hidden;
}

.create-title {
    font-size: small;
}

.content {
    width: 80%;
    padding: 20px 50px;
    margin: 0 auto;
}

p {
    font-weight: 500;
    padding: 10px 0 10px 0;
    font-size: 18px;
}

.input-container {
    margin-top: 10px;
    display: flex;
}

    .input-container label {
        display: flex;
        align-items: center;
        width: 10rem;
        margin-right: 0;
        margin-left: 0;
    }

    .input-container input,
    .input-container textarea {
        margin-left: 27px;
        margin-top: auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 10px;
        width: 100%;
    }

    .input-container select {
        border: 1px solid #ccc;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 10px;
        width: 100px;
    }

.save-button {
    background-color: #EC2224;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 176px;
    border-radius: 10px;
    font-size: 16px;
    padding: 1px 5px;
    border: none;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
}

    .save-button a {
        color: white;
        text-decoration: none;
    }

    .save-button:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }