body, .main-content {
    background: #F0F6F7;
}

.heading {
    background: white;
    height: 5em;
    padding-left: 2em;
    align-items: center;
    justify-content: left;
    display: flex;
}

.heading-text{
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.back {
    color: black;
}

.back-button {
    margin-right: 0.5em;
    text-decoration: none;
}

    .back-button:hover {
        cursor: pointer;
    }

.create-interview-form {
    padding: 0.5em 2em 3em 2em;
    background: #F0F6F7;
}

.section-interview {
    padding: 1em 0;
}

.section-text {
    font-size: 20px;
    color: #55729B;
    margin: auto;
    font-weight: 700;
    width: 100%;
}

.line {
    border-bottom: 1px solid #55729B;
    margin-top: 0.5em;
}

.b-blue {
    background: #55729B;
    color: white;
}

    .b-blue:hover {
        background: #445b7c;
        color: white;
        cursor: pointer;
    }