body, .main-content {
    background: #F0F6F7;
}

.heading {
    background: white;
    height: 5em;
    padding-left: 2em;
    align-items: center;
    justify-content: left;
    display: flex;
}

.heading-text{
    font-size: 30px;
    display: flex;
    flex-direction: row;
}

.back-button{
    margin-right: 0.5em;
    text-decoration: none;
}

.back-button:hover{
    cursor: pointer;
}

.interviewer {
    padding: 1.5em 2em;
    gap: 1em;
}

.select-interviewer {
    background: #55729B;
    padding: 1em;
    border-radius: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.select-text{
    margin: 0;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.dropdown-button {
    background: white;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.dropdown-text {
    font-style: italic;
    color: #55729B;
    margin: 0;
    width: 100%;
    text-align: left;
}

.add-interviewer {
    padding: 1em 3em;
    border-radius: 0.7em;
    background: #FF0000;
    border: none;
}