body {
    font-family: "Montserrat", sans-serif;
    background-color: #e4e9f7;
    padding: 0;
    margin: 0;
}

.container {
    background-color: white;
    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 22px 10px 50px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
}

    .container h1 {
        font-size: x-large;
        font-weight: bold;
    }

.table-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.select-container {
    margin-top: 90px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

    .select-container label {
        margin: 5px;
    }

    .select-container select {
        padding: 5px;
        font-size: 14px;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    padding-bottom: 0 !important;
}

    .table th {
        min-width: 200px;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        background-color: #55729B;
        color: white;
        padding: 10px 20px;
        font-weight: bold;
    }

    .table td {
        min-width: 240px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        background-color: white;
        color: black;
        padding: 8px 20px;
        font-weight: normal;
        align-items: center;
    }

    .table tbody tr:hover {
        border-left: 10px solid red;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

.actions {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #55729B;
}

    a:hover {
        cursor: pointer;
        color: red;
    }

.applicant-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.status-btn {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #55729B;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    text-align: center;
}

    .status-btn:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

.reject-btn {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
}

    .reject-btn:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

.decline-btn {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
}

    .decline-btn:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
}

    .pagination li {
        margin: 0;
    }

    .pagination a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 5px 10px;
    }

        .pagination a:hover {
            color: red;
            text-decoration: none;
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
        }

    .pagination li a.active {
        background-color: red;
        color: white;
    }

    .pagination li a.disabled {
        pointer-events: none;
        opacity: 0.6;
        color: slategray;
    }

.page-link {
    background-color: transparent !important;
    text-decoration: none;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}