body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #e4e9f7;
}

.job-post-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow-x: hidden;
    margin: 0;
}

    .job-post-header h1{
        margin-left: 40px;
        font-size: x-large;
        padding-top: 6px;
        font-weight: bold;
    }

.search-bar {
    display: flex;
    align-items: center;
}

    .search-bar input {
        margin-right: 15px;
        padding: 10px;
        width: calc(100vw - 60vw);
        border-radius: 5px;
    }

    .search-bar button {
        padding: 12px;
        color: white;
        background-color: red;
        border-radius: 5px;
        border: none;
    }

        .search-bar button a {
            border: solid 1px red;
            color: white;
            text-decoration: none;
        }

        .search-bar button:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

.table-container {
    padding: 50px;
}

.table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

    .table th {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        background-color: #55729B;
        color: white;
        padding: 20px;
        font-weight: bold;
    }

    .table td {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        text-align: center;
        background-color: white;
        color: black;
        padding: 20px;
        font-weight: normal;
        align-items: center;
    }

.actions {
    display: flex;
    gap: 8px;
}

.job-post-action-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}