html {
    font-size: .75rem;
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 1)), url(../images/landing-page.jpg) no-repeat center/cover;
}

.contactUs_body {
    background: linear-gradient(rgba(64, 64, 64, 0.48), rgba(64, 64, 64, 0.48)), url(../images/contactUsBackground.jpg) no-repeat center/cover fixed;
}

.findJobs_body {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) no-repeat center/cover;
}

#login_body {
    background: url('../images/building.png') no-repeat center/cover fixed;
}

main {
    padding-top: 9.375rem;
}

.nav-item {
    border-bottom: 5px solid rgba(255, 255, 255, 0.01);
    height: 5rem;
    align-items: center;
    display: flex;
    text-align: center;
}

.nav-link {
    color: white !important;
}

.nav-selected {
    background: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 1));
    border-bottom: 5px solid red !important;
}

.navbar {
    -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
}

.navbar-brand {
    background: url(../images/asi-logo.svg) no-repeat;
    margin: .5rem;
    background-size: contain;
    height: 3.5rem;
    width: 15rem;
}

.custom-navbar {
    background: #fff !important;
    -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
}

    .custom-navbar .nav-selected {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(224, 224, 224, 1));
    }

    .custom-navbar .navbar-brand {
        background: url(../images/asi-logo-invert.svg) no-repeat;
    }

    .custom-navbar .nav-link,
    .custom-navbar .login-btn {
        color: black !important;
    }

@media (min-width: 960px) {
    html {
        font-size: .9rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        width: 100%;
        justify-content: center;
        height: 4rem !important;
    }

    .nav-link {
        font-size: 1rem;
    }

    main {
        padding-top: 12rem !important;
    }
}
