html {
    font-size: .75rem;
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 1)), url(../images/landing-page.jpg) no-repeat center/cover fixed;
}

.contactUs_body {
    background: linear-gradient(rgba(64, 64, 64, 0.48), rgba(64, 64, 64, 0.48)), url(../images/contactUsBackground.jpg) no-repeat center/cover fixed;
}

.findJobs_body, .applicantForm_body {
    background: rgba(245, 245, 245, 1) no-repeat center/cover;
}

#login_body {
    background: url('../images/building.png') no-repeat center/cover fixed;
}

a {
    text-decoration: none !important;
}

main {
    padding-top: 9.375rem;
}

/* Modal pop-up css */
.notice-icon {
    height: 3rem;
    width: 3rem;
}

.modal-content {
    border-radius: 1.5rem;
}

.modal-header,
.modal-footer {
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #FC1F22;
    border-color: #AC1818;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active:focus {
        color: #fff;
        background-color: #FC1F22;
        border-color: #AC1818;
        box-shadow: 0 0 0 0.25rem rgb(253 49 49 / 50%);
    }
/* --------- */

.form-control:focus,
.form-select:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.file-input {
    display: none;
}

.search-bar {
    height: 100%;
    border-radius: .5rem 0px 0px .5rem;
}

/* dropdown menu*/
.dropdown-menu {
    background-color: #000;
    margin-top: 0;
    text-align: center;
    min-width: 8rem;
    border-top: 1px solid black;
}

    .dropdown-menu[data-bs-popper] {
        top: 70%;
        left: 0;
        margin-top: 0;
    }

    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:active:focus {
        background-color: rgba(64, 64, 64, 0.48);
    }

.dropdown-logout:hover,
.dropdown-logout:focus,
.dropdown-logout:active:focus {
    background-color: rgba(255, 0, 0, 0.48);
}

/* ----------- */

/* navigation bar css */
.nav-item {
    border-bottom: 5px solid rgba(255, 255, 255, 0.01);
    height: 5rem;
    align-items: center;
    display: flex;
    text-align: center;
}

.login .nav-item {
    border: none;
}

.nav-link {
    color: white !important;
}

.nav-selected {
    background: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 1));
    border-bottom: 5px solid red !important;
}

.navbar {
    -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
}

.navbar-brand {
    background: url(../images/asi-logo.svg) no-repeat;
    margin: .5rem;
    background-size: contain;
    height: 3.5rem;
    width: 15rem;
}

.custom-navbar {
    background: #fff !important;
    -webkit-transition: all .4s cubic-bezier(.39, .575, .565, 1);
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .3) !important;
}

    .custom-navbar .nav-selected {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(224, 224, 224, 1));
    }

    .custom-navbar .navbar-brand {
        background: url(../images/asi-logo-invert.svg) no-repeat;
        margin: .5rem;
        background-size: contain;
        height: 3.5rem;
        width: 15rem;
    }

    .custom-navbar .nav-link {
        color: black !important;
    }

    .custom-navbar .login-btn {
        color: white !important;
    }
/* --------------------------------------- */

@media (min-width: 960px) {
    html {
        font-size: .9rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        width: 100%;
        justify-content: center;
        height: 4rem !important;
    }

    .nav-link {
        font-size: 1rem;
    }

    main {
        padding-top: 12rem !important;
    }
}
