h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    flex: 1;
    font-style: italic;
}

.search-container button[type="submit"] {
    padding: 8px 16px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.text-white {
    color: #fff !important;
}

.font-italic {
    font-style: italic !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-center {
    text-align: center !important;
}

