@{
    ViewData["CreateHrAccount"] = "CREATE HR ACCOUNT";
    Layout = null;
    <link rel="stylesheet" href="~/css/create-hr-account.css" />
}   

<div class="page">
    <div class="menu">
        <ul>
            <li class="logo"/>
            <li>
                <a href="#dashboard">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-windows" viewBox="0 0 16 16">
                        <path d="M6.555 1.375 0 2.237v5.45h6.555V1.375zM0 13.795l6.555.933V8.313H0v5.482zm7.278-5.4.026 6.378L16 16V8.395H7.278zM16 0 7.33 1.244v6.414H16V0z" />
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#hrlist" class="active">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                    HR List
                </a>
            </li>
        </ul>
    </div>
    <div class="create-account">
        <div class="heading">
            <p>&lt CREATE HR ACCOUNT</p>
        </div>
        <div class="bg">
            <h1 class="header">CREATE ACCOUNT</h1>
        </div>
        <div class="desc">
            <p>As an admin, you can create an account for the HRs in your company. Please fill out the form below to complete the process.</p>
        </div>
        <div class="create-account-form">
            <form method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary save-changes-button">Create Account</button>
            </form>
        </div>
    </div>
</div>