@model Basecode.WebApp.Models.LoginModel


@{
    ViewData["Title"] = "Login";
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
<body >
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-dark" 
            style=  "background-image: url('../images/building.png');
                    background-repeat: no-repeat; background-position: center; 
                    background-size: cover;">
            </div>
            <div class="col-9 bg-dark vh-100 pt-5">
                <form asp-action="Login" class="needs-validation">
                    <div class="container-fluid text-black w-50 mt-5 pt-5">
                        <div class="top text-white text-center">
                            <h2>Welcome!</h2>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput"
                                   placeholder="name@example.com">
                            <label asp-for="Email"  for="floatingInput" class="form-label">Email Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInput"
                                   placeholder="password">
                            <label asp-for="Password" for="floatingInput" class="form-label">Password</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" name="submit" class="btn btn-danger">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

   

