@model Basecode.WebApp.Models.LoginModel


@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 bg-dark" id="login_body">
            </div>
            <div class="col-4 bg-black vh-100 pt-5">

                <form asp-action="Index" class="needs-validation">
                    <div class="container-fluid text-black w-75 mt-5 pt-5">
                        <div class="top text-white text-center">
                            <h2>Reset Password</h2>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInput"
                                   placeholder="password">
                            <label asp-for="Password" for="floatingInput" class="form-label">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingInput"
                                   placeholder="password">
                            <label asp-for="ConfirmPassword" for="floatingInput" class="form-label">Confirm Password</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" value="Login" class="btn btn-danger">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>



