@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Sidebar.cshtml";

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin-dashboard.css" />
}

<body>
    <div class="col content text-center d-flex flex-column justify-content-center align-self-center">
        <p class="display-1 text-white fw-bold">
            WE LOVE WHAT WE DO
        </p>
        <p>
            <span class="fs-1 text-danger fw-bold">
                Alliance Software 
            </span><span class="fs-2 text-white"> 
                is expanding.
            </span>
        </p>
        <p class="fs-3 text-white">
            We are creating career opportunities for people with great passion in Information Technology.
        </p>
    </div>
</body>