@using Basecode.Data.Models
@model HrEmployee

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_SideBarAdmin.cshtml";

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin-dashboard.css" />
}

<body>
    <div class="top-header">
        <div class="header-details">

        </div>
    </div>
</body>