@{
    Layout = "_SideBarAdmin";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css//Interview.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
}

<body>
    <div class="heading">
        <div class="heading-text">
            <a><i class="back-button fa-solid fa-arrow-left"></i></a>
            <p class="m-0 fw-bold">Interview</p>
        </div>
    </div>
</body>