@{
    Layout = "_SideBarAdmin";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css//Interview.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
}

<body>
    <div class="heading">
        <div class="heading-text">
            <a><i class="back-button fa-solid fa-arrow-left"></i></a>
            <p class="m-0 fw-bold">Interview</p>
        </div>
    </div>
    <div class="interviewer d-flex flex-row">
        <div class="select-interviewer flex-grow-1">
            <p class="select-text">Select Interviewer:</p>
            <div class="dropdown flex-grow-1">
                <button class="dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p class="dropdown-text">Select an Interviewer... </p>
                    <i class="fas fa-angle-down"></i>
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">John Doe</a>
                    <a class="dropdown-item" href="#">John Doe</a>
                    <a class="dropdown-item" href="#">John Doe</a>
                </div>
            </div>
        </div>
        <button class="add-interviewer text-nowrap">
            <p class="select-text">
                Add Interviewer
            </p>
        </button>
    </div>
    <div class="upcoming-interview">
        <div class="d-flex flex-row align-items-center">
            <p class="upcoming-text">
                UPCOMING INTERVIEWS
            </p>
            <button class="new-interview text-nowrap">
                <p class="select-text">
                    NEW INTERVIEW
                </p>
            </button>
        </div>
        <div class="line"></div>
    </div>
    <div class="table-style">
        <table class="table">
            <thead>
                <tr>
                    <th class="py-4" scope="col">Date and Time</th>
                    <th class="py-4" scope="col">Applicant</th>
                    <th class="py-4" scope="col">Type</th>
                    <th class="py-4" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-entry">
                    <td class="py-4">July 6, 2023, 10:00 - 11:00</td>
                    <td class="py-4">John Doe</td>
                    <td class="py-4">HR Interview</td>
                    <td class="py-4">do</td>
                </tr>
                <tr class="table-entry">
                    <td class="py-4">July 6, 2023, 10:00 - 11:00</td>
                    <td class="py-4">John Doe</td>
                    <td class="py-4">HR Interview</td>
                    <td class="py-4">do</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>