@page
@model RegisterModel
@{
    ViewData["CreateHrAccount"] = "CREATE HR ACCOUNT";
    Layout = "_SideBarAdmin";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CreateAccount.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
}
<body>
    <div class="container-fluid h-100">
        <div class="flex-nowrap">
            <div class="row h-100">
                <div class="col content d-flex flex-column p-0">
                    <div class="bg">
                        <h1 class="header-text m-0">
                            CREATE ACCOUNT
                        </h1>
                    </div>
                    <div class="desc">
                        <p class="p-0">
                            As an admin, you can create an account for the HRs in your company.<br />
                            Please fill out the form below to complete the process.
                        </p>
                    </div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="container-fluid text-black w-50">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="alert alert-danger text-center m-0" role="alert">
                                    @Html.Raw(ViewBag.ErrorMessage)
                                </div>
                            }
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Jon Doe" />
                                <label asp-for="Input.Name">Name</label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div><div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="bottom-btn mb-3">
                                <a class="cancel-btn" type="button" asp-controller="Admin" asp-action="HrList">Cancel</a>
                                <button id="registerSubmit" type="submit" class="save-btn">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
