.application-form-container {
    padding: 3rem 2rem 1rem 2rem;
    background-color: snow;
    justify-content: center;
    max-width: 960px;
    margin: 0px auto;
}

.form {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    padding: 3rem;
}

.text-bold {
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif;
}

.text-italic {
    font-style: italic !important;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0 !important;
}

.form-header {
    font-size: 1.25rem;
}

.text-header {
    border-bottom: solid 1px black;
    font-size: 1.25rem;
}

.text-red {
    color: red;
}

.file-drop {
    border: 2px dashed #ccc;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.file-input {
    display: none;
}

.file-label {
    color: red;
    margin-top: 1rem ;
}

input ::placeholder {
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=checkbox] {
    accent-color: red;
}

.btn-primary {
    color: #fff;
    background-color: #FC1F22;
    border-color: #AC1818;
}

.submit-btn {
    color: white;
}

.text-footer {
    border-bottom: 1px solid black;
}