@using Basecode.Data.Enums;
@using Basecode.Data.Models
@model Applicants
@{
    ViewData["Title"] = "Track Application";
}
<!---This is the view to see the results of application tracking-->

<div class="make-center">
    <div class="col">
        <div class="container">
            <form method="get" asp-controller="Applicant" asp-action="TrackStatus">
                <div class="search-container">
                    <input asp-for="ApplicantId" type="text" class="form-control text-center search-bar" placeholder="Enter your application ID here...">
                    <button type="submit" class="btn track-status-button">Track</button>
                </div>
            </form>

            <div class="application-status-container px-5 py-3 mt-5 mx-auto">
                <div class="header">
                    <h4 class="text-center title">Application Status</h4>
                </div>
                @if (Model != null)
                {
                    <div class="body">
                        <div class="row mt-3 mt-sm-0">
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-end">
                                <h4 class="">Application ID:</h4>
                            </div>
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-start">
                                <h4 class="text-red font-italic">@Model.Id</h4>
                            </div>
                        </div>
                        <div class="row mt-3 mt-sm-0 ">
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-end">
                                <h4 class="">Date Applied:</h4>
                            </div>
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-start">
                                <h4 class="font-italic">@Model.ApplicationDate</h4>
                            </div>
                        </div>
                        <div class="row mt-3 mt-sm-0">
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-end">
                                <h4 class="">Current Status:</h4>
                            </div>
                            <div class="col-sm-6 d-inline-flex justify-content-center justify-content-sm-start">
                                <h4 class="text-skyblue font-italic">@EnumHelper.GetEnumDescription(Model.ApplicationStatus)</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

