@{
    ViewData["ApplicationForm"] = "Application Form";
    <link rel="stylesheet" href="~/css/application-form.css" />
}

<div style="background-color: white; margin-top: 0; padding-top: 50px;">
    <div class="job-title">
        <p>Software Engineer</p>
    </div>
    <nav>
        <div class="application-nav">
            <ul>
                <li>
                    <a asp-controller="Applicant" asp-action="TrackApplication">Job Details</a>
                </li>
                <li>
                    <a class="active">Application</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            <div class="text-header">Resume</div>
            <div class="form-content">
                <label for="resume">Upload a file:</label>
                <input class="resume-input" id="resume" type="file" name="resume" />
            </div>

            <div class="text-header">Personal Information</div>
            <div class="form-content">
                <div class="input-container">
                    <label>Name:</label>
                    <input class="input" id="firstname" type="text" name="firstname" placeholder="First Name" />
                    <input class="input" id="middlename" type="text" name="middlename" placeholder="Middle Name" />
                    <input class="input" id="lastname" type="text" name="lastname" placeholder="Last Name" />
                </div>
                <div class="input-container">
                    <label for="birthday">Birthday:</label>
                    <input class="input" id="birthday" type="date" name="birthday" />
                </div>
                <div class="input-container">
                    <label for="resume">Photo:</label>
                    <input class="resume-input" id="resume" type="file" name="resume" />
                </div>
            </div>

            <div class="text-header">Contact Information</div>
            <div class="form-content">
                <div class="input-container">
                    <label>Address:</label>
                    <input class="input" id="street" type="text" name="street" placeholder="Street" />
                </div>
                <div class="input-container">
                    <label></label>
                    <input class="input" id="city" type="text" name="city" placeholder="City" />
                    <input class="input" id="province" type="text" name="province" placeholder="Province / State" />
                    <input class="input" id="zipcode" type="text" name="zipcode" placeholder="Postal / Zipcode" />
                </div>
                <div class="input-container">
                    <label>Phone number:</label>
                    <input class="input" id="number" type="text" name="number"/>
                </div>
                <div class="input-container">
                    <label>Email Address:</label>
                    <input class="input" id="email" type="text" name="email" />
                </div>
            </div>

            <div class="text-header">References</div>
            <div class="form-content">
                <label>Please list two (2) references (who are not family or relatives) that are familiar with your work life.</label>
                <div class="input-container">
                    <label style="font-weight: bold; font-size: 15px; margin-top: 15px;">Reference 1</label>
                </div>
                <div class="input-container">    
                    <label>Name:</label>
                    <input class="input" id="name" type="text" name="name" />
                </div>
                <div class="input-container">
                    <label>Relationship:</label>
                    <input class="input" id="relationship" type="text" name="relationship" />
                </div>
                <div class="input-container">
                    <label>Email Address:</label>
                    <input class="input" id="email" type="text" name="email" />
                </div>
                <div class="input-container">
                    <label>Phone number:</label>
                    <input class="input" id="number" type="text" name="number" />
                </div>

                <div class="input-container">
                    <label style="font-weight: bold; font-size: 15px; margin-top: 15px;">Reference 2</label>
                </div>
                <div class="input-container">
                    <label>Name:</label>
                    <input class="input" id="name" type="text" name="name" />
                </div>
                <div class="input-container">
                    <label>Relationship:</label>
                    <input class="input" id="relationship" type="text" name="relationship" />
                </div>
                <div class="input-container">
                    <label>Email Address:</label>
                    <input class="input" id="email" type="text" name="email" />
                </div>
                <div class="input-container">
                    <label>Phone number:</label>
                    <input class="input" id="number" type="text" name="number" />
                </div>
            </div>

            <div class="text-header">Additional Information</div>
            <div class="form-content">
                <div class="input-container">
                    <label style="width: 500px;">How did you hear about us?</label>
                </div>
                <div class="input-container">
                    <select class="input" id="additional" name="additional">
                        <option value="N/A"></option>
                        <option value="LinkedIn Job Post">LinkedIn Job Post</option>
                        <option value="Recruitment Team">Recruitment Team</option>
                        <option value="Peers & Friends">Peers & Friends</option>
                        <option value="Social Media Platforms">Social Media Platforms</option>
                        <option value="Career Page">Career Page</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="input-container" id="other-input" style="display: none;">
                    <input class="input" type="text" name="other-option" placeholder="Please specify" />
                </div>
            </div>

            <script>
                var selectElement = document.getElementById("additional");
                var otherInputDiv = document.getElementById("other-input");

                selectElement.addEventListener("change", function () {
                    if (selectElement.value === "Others") {
                        otherInputDiv.style.display = "block";
                    } else {
                        otherInputDiv.style.display = "none";
                    }
                });
            </script>

            <div class="terms-container">
                <input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" />
                <label for="agreeCheckbox" class="checkmark"></label>
                <span class="terms-link">I agree to the <a href="#">terms and conditions</a></span>
            </div>

            <button class="submit-button" type="button">
                <a asp-controller="Login" asp-action="Index">Submit</a>
            </button>
        </form>
    </div>

    <div class="text-footer">© 2019 Alliance Software Incorporated. All Rights Reserved</div>
    <div class="footer-img">
        <img src="~/images/asi-logo-invert.png" alt="Footer Image">
    </div>
</div>