body {
    overflow: hidden auto;
}

.vertical-center {
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.my-5 {
    margin-top: 2.1rem !important;
    margin-bottom: 6rem !important;
}

.rounded {
    border-radius: 2rem !important;
}

.text-bold {
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif;
}

.text-italic {
    font-style: italic !important;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0 !important;
}