@{
    ViewData["Title"] = "Explore Jobs";
}
<body>
    <div class="container">
        <h2 class="my-5 text-white text-bold">Open positions</h2>

        <!---->
        <div class="border-rounded bg-white px-4 pt-4 pb-2 mb-4">
            <div class="row m-1">
                <div class="col">
                    <h4 class="text-bold">Software Engineer</h4>
                    <div class="mb-2">
                        <div class="d-inline border rounded ml-1 px-2 tags">8-hour Shift</div>
                        <div class="d-inline border rounded ml-1 px-2 tags">Full-Time</div>
                        <div class="d-inline border rounded ml-1 px-2 tags">On-Site</div>
                    </div>
                    <div class="row px-3">
                        <div class="col">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </li>
                                <li>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                </li>
                                <li>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary px-5">
                        <h5 class="m-0 p-0">View Jobs</h5>
                    </button>
                </div>
            </div>
        </div>
        <!---->
        <!---->
        <div class="border-rounded bg-white px-4 pt-4 pb-2 mb-4">
            <div class="row m-1">
                <div class="col">
                    <h4 class="text-bold">Front-End Developer</h4>
                    <div class="mb-2">
                        <div class="d-inline border rounded ml-1 px-2 tags">Flex-Time</div>
                        <div class="d-inline border rounded ml-1 px-2 tags">Full-Time</div>
                        <div class="d-inline border rounded ml-1 px-2 tags">Remote</div>
                    </div>
                    <div class="row px-3">
                        <div class="col">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </li>
                                <li>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                </li>
                                <li>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary px-5">
                        <h5 class="m-0 p-0">View Jobs</h5>
                    </button>
                </div>
            </div>
        </div>
        <!---->
    </div>

</body>


