@{
    ViewData["Title"] = "Job Description";
}
<body class="findJobs_body">
    <div class="container top-0">
        <h2 class="my-5 text-black text-bold">Software Engineer</h2>

        <!---->
        <div class="row mx-3 mb-2">
            <div class="col d-flex">
                <p class="text-bold mb-1 align-self-center me-2">Job Details</p>
                <button class="btn btn-primary ms-4 py-0">
                    <a class="nav-link p-0 mx-4 text-bold" asp-area="" asp-controller="Applicant" asp-action="ApplicationForm">APPLY</a>
                </button>
            </div>
        </div>
        <div class="border-rounded bg-white px-3 pt-3 pb-2 mb-4">
            <div class="row m-1">
                <div class="col">
                    <div class="mb-4">
                        <h4 class="text-bold">Job Description</h4>
                        <ul>
                            <li>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                            </li>
                        </ul>
                    </div>
                    <div class="ms-3 mb-4">
                        <h5 class="">Job Qualifications</h5>
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptate.
                            </li>
                            <li>
                                At vero eos et accusamus et iusto odio dignissimos ducimus.
                            </li>
                        </ul>
                    </div>
                    <div class="ms-3 mb-4">
                        <h5 class="">Job Responsibilities</h5>
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptate.
                            </li>
                            <li>
                                At vero eos et accusamus et iusto odio dignissimos ducimus.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 text-bold">
                    <div class="border-top pt-2 mt-2"></div>
                    <ul>
                        <li>
                            8-Hour Shift
                        </li>
                        <li>
                            Full-Time
                        </li>
                        <li>
                            On-Site
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!---->
    </div>

</body>


