@{
    ViewData["Title"] = "Terms and Conditions";
    Layout = null;
    <link rel="stylesheet" href="~/css/terms-and-conditions.css" />
}

<body>
    <div class="term-container">
        <div class="content-wrapper">
            <h1>Terms and Conditions</h1>
        </div>
       
        <div>
            <h2>Terms of Service</h2>
            <h3>Valid and effective from June 19, 2023</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum pretium magna, id bibendum justo auctor id. Nunc tristique quam lorem, at iaculis nunc feugiat vel. Sed blandit, elit eu fringilla egestas, dolor mi congue urna, nec tempor nisl enim nec orci. Nulla facilisi. Donec interdum cursus ipsum, sed efficitur lorem elementum in. Vestibulum consectetur elit eget quam tincidunt, id laoreet tellus posuere. Praesent id purus dolor.</p>

            <p>Nulla facilisi. Vivamus dictum orci at sagittis consectetur. Sed vestibulum lorem nec nunc vehicula, vitae efficitur mauris cursus. Suspendisse sed elit non risus bibendum tristique ac vitae lacus. Morbi feugiat, tellus et volutpat scelerisque, justo lorem suscipit mi, a facilisis nunc felis sit amet est. Cras faucibus rutrum eros, et commodo elit cursus in. Nam ac posuere dui. Sed dignissim risus non elit ultrices, at accumsan urna commodo. Nunc vel sapien quis est tincidunt interdum. Sed efficitur eu justo nec aliquet. Praesent sit amet nibh eu sem tempor vestibulum ut sit amet ligula.</p>

            <p>Phasellus nec ipsum nulla. Integer in ex eu nisi tristique pellentesque nec non mauris. Mauris nec nisi a nunc tristique gravida. Morbi id luctus erat. Curabitur vitae vulputate dui. Curabitur pharetra malesuada urna et facilisis. Morbi tincidunt tempor lectus sed suscipit. Morbi ornare neque id ante dapibus ultrices.</p>

            <p>Etiam nec elit arcu. Nunc vulputate metus quis efficitur elementum. Suspendisse potenti. Aenean ac condimentum arcu, vel cursus sem. Sed rhoncus, tortor vel vestibulum posuere, purus mauris sollicitudin nunc, et ullamcorper est est in mauris. Ut luctus rutrum eros vitae posuere. Aliquam condimentum tincidunt nulla, id sollicitudin mauris iaculis eget. Mauris at semper neque, sed posuere nunc.</p>

            <p>By checking the checkbox, you agree to the above terms and conditions</p>
        </div>
        <div class="text-footer">© 2019 Alliance Software Incorporated. All Rights Reserved</div>
        <div class="footer-img">
            <img src="~/images/asi-logo-invert.png" alt="Footer Image">
        </div>
    </div>
    
</body>
