@{
    ViewData["Title"] = "Application Status Tracker";
}

<style>
    h1 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

        .search-container input[type="text"] {
            padding: 8px;
            border: none;
            border-radius: 20px 0 0 20px;
            outline: none;
            flex: 1;
        }

        .search-container button[type="submit"] {
            padding: 8px 16px;
            background-color: #FF0000;
            color: #fff;
            border: none;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
        }

        .search-container .search-icon {
            margin-right: 8px;
            color: #000;
        }
</style>

<h1>Track your application status here</h1>

<div class="search-container">
    <span class="search-icon">&#128269;</span>
    <input type="text" id="trackingNumber" name="trackingNumber" placeholder="Enter your application ID here" />
    <button type="submit">Track</button>
</div>
