.make-center {
    display: flex;
    max-width: 960px;
    align-items: center;
    justify-content: center;
    margin: 25vh auto 0px auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.search-container {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: none;
    border-radius: 5rem;
    font-family: 'Montserrat', sans-serif;
}

    .search-container input[type="text"] {
        height: 4rem;
        padding: 8px;
        border-radius: 5rem 0 0 5rem;
        flex: 1;
        font-style: italic;
        font-size: 1.3rem;
    }

    .search-container ::placeholder,
    .search-container :-ms-input-placeholder {
        color: gray;
        opacity: 0.7;
    }

    .search-container button[type="submit"] {
        height: 4rem;
        padding: 0px 2.5rem;
        background-color: #FC1F22;
        color: #fff;
        border-radius: 0 5rem 5rem 0;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.25rem;
    }

.text-white {
    color: #fff !important;
}

.font-italic {
    font-style: italic !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-center {
    text-align: center !important;
}
