<!-- Add reference to Bootstrap CSS file -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- Add reference to custom CSS file -->
<link rel="stylesheet" href="~/css/TrackApplication.css">

<div class="position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="text-center display-3 mt-5 font-weight-bold font-italic text-white">Track your <span style="color: #FF0000">application status</span> here!</h1>
    <div class="container">
        <div class="search-container">
            <input type="text" class="form-control" id="trackingNumber" name="trackingNumber" placeholder="&#128269; Enter your application ID here">
            <button class="btn" type="submit">Track</button>
        </div>
    </div>
</div>