@{
    ViewData["Title"] = "Track Application";
}


<div class="make-center">
    <div class="col">
        <p class="display-4 mt-5 font-weight-bold font-italic text-white">Track your <span class="text-danger">application status</span> here!</p>
        <div class="container">
            <form method="get" action="@Url.Action("TrackStatus", "Applicant")">
                <div class="search-container">
                    <input type="text" class="form-control text-center search-bar" id="trackingNumber" name="id" placeholder="Enter your application ID here...">
                    <button type="submit" class="btn track-status-button">Track</button>
                </div>
            </form>
        </div>
    </div>
</div>