@{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ViewJobDescription.css" />
    <script src="https://kit.fontawesome.com/b68ff1da95.js" crossorigin="anonymous"></script>
}

<body>
    <div class="flex-md-column">
        <h1 class="job-title d-flex justify-content-center align-items-center">Software Engineer</h1>
        <div class="d-flex flex-row align-items-center my-3">
            <p class="px-5 m-0 text-white" style="font-family: 'Montserrat', sans-serif;">Job Details</p>
            <button type="submit" class="btn btn-danger rounded-pill px-5 py-0">APPLY</button>
        </div>
        <div class="d-flex flex-row mx-1 bg-white">
            <div class="flex-grow-1 w-75 p-3">
                <div class="job-desc">
                    <p class="job-header">Job Description</p>
                    <ul class="list-disc">
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate.
                        </li>
                    </ul>
                </div>
                <div class="job-desc-sub">
                    <p class="job-header-sub">Job Qualifications</p>
                    <ul class="list-disc">
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </li>
                        <li>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptate.
                        </li>
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus.
                        </li>
                    </ul>
                </div>
                <div class="job-desc-sub">
                    <p class="job-header-sub">Job Responsibilities</p>
                    <ul class="list-disc">
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </li>
                        <li>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptate.
                        </li>
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-grow-1 w-25 p-3">
                <div class="border-top border-dark border-3 p-2">
                    <ul class="list-disc m-0">
                        <li class="job-tag">8-Hour Shift</li>
                        <li class="job-tag">Full-Time</li>
                        <li class="job-tag">On-Site</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>