@{
    ViewData["Title"] = "Contact Us";
}
<body class="contactUs_body">
    <div class="container">
        <h3 class="mt-5 mb-5 text-white">We are the partner of choice for the world's leading companies</h3>
        <div class="border rounded bg-white">
            <div class="row mt-5">
                <h5 class="text-center">Office Location</h5>
            </div>
            <hr />
            <div class="row px-5">
                <div class="col-4">
                    <p class="text-bold text-center">Cebu City Office (Headquarters)</p>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/building_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">14th Floor, Buildcomm Center, Sumilon Road, Cebu Business Park, Cebu City, 6000, Philippines</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/phone_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">+63-32-261-1705</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/mobilePhone_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">(+63)918-948-4041<br />(+63)908-884-6922</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/email_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">info@alliance.com.ph (for inquiries)<br />jobs@alliance.com.ph (for applications)</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <p class="text-bold text-center">Manila Office</p>
                        <div class="row">
                            <div class="col-1">
                                <img src="~/images/building_icon.svg" />
                            </div>
                            <div class="col">
                                <p class="text-italic">7th Floor, Santalon Town Plaza, 276 Santalon Road Little Baguio, San Juan City, 1500 Metro Manila, Philippines</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/phone_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">+63-2-7739-9038</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <p class="text-bold text-center">Japan Office</p>
                    <div class="row">
                        <div class="col-1">
                            <img src="~/images/building_icon.svg" />
                        </div>
                        <div class="col">
                            <p class="text-italic">2-5-7-201 Hirakawa Cho, Chiyoda-kuTokyo, 102-0093 Japan</p>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="~/images/phone_icon.svg" />
                            </div>
                            <div class="col">
                                <p class="text-italic">+81-3-5215-9006<br />(FAX)+81-3-5215-9004</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="~/images/email_icon.svg" />
                            </div>
                            <div class="col">
                                <p class="text-italic">y_isano@MatchCasing.jp<br />(Mr. Yoshihiro Isano</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


