@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

@using Basecode.Data.Models
@model HrEmployee

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_SideBarAdmin.cshtml";

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin-dashboard.css" />
}

<body>
    <div class="dashboard">
        <div class="top-header">
            <div class="header-details d-flex">
                <p class="welcome">WELCOME</p>
                <p class="name">@UserManager.GetUserName(User)!</p>
                <i class='bx bx-user-circle'></i>
            </div>
        </div>

         <p class="tag">WE LOVE WHAT WE DO</p>
 
        <!--Upper Cards-->
        <div class="upper-cards d-flex container-md">
            <div class="card shadow-lg">
                <div class="left">
                    <h3>CANDIDATES</h3>
                    <div class="card-content">
                        <i class='bx bxs-user-check'></i>
                        <p class="value">80</p>
                    </div>
                </div>
            </div>
            <!-------- End of First Card -------->

            <div class="card shadow-lg">
                <div class="middle">
                    <h3>NEW HIRES</h3>
                    <div class="card-content">
                        <i class='bx bxs-briefcase-alt-2'></i>
                        <p class="value">80</p>
                    </div>
                </div>
            </div>
            <!-------- End of Second Card -------->

            <div class="card shadow-lg">
                <div class="right">
                    <h3>TOTAL HR</h3>
                    <div class="card-content">
                        <i class='bx bxs-user-rectangle'></i>
                        <p class="value">80</p>
                    </div>
                </div>
            </div>
            <!-------- End of Third Card -------->
        </div>

        <!--Bottom Cards-->
        <div class="bottom-cards d-flex container-md">
            <div class="left card shadow-lg">
                <h3>APPLICATIONS</h3>
                <div class="chart-container">
                    <canvas class="applicant-chart"></canvas>
                </div>
             </div>
             <!-------- End of First Card -------->
            <div class="right card shadow-lg">
                <div class="label">
                    <h3>INTERVIEWS</h3>
                    <a class="view-all d-flex">
                        <span>View All</span>
                        <i class='bx bx-chevron-right fs-3'></i>
                    </a>
                </div>
               
                <table class="interviews-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td>C# Developer</td>
                            <td>July 26, 2023</td>
                            <td>3:00 PM</td>
                        </tr>
                        <tr>
                            <td>Jane Doe</td>
                            <td>C# Developer</td>
                            <td>July 26, 2023</td>
                            <td>10:00 AM</td>
                        </tr>
                    </tbody>
                </table>
             </div>
            <!-------- End of Second Card -------->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/applicant-chart.js" asp-append-version="true"></script>
</body>