@{
    ViewData ["Title"] = "Application Detail";
    Layout = "_SideBarAdmin";
}

<!-- Modals are at the bottom -->

<div class="container-header shadow-sm">
    <div class="row job-post-header ">
        <div class="col-auto d-flex align-items-lg-center ps-5">
            <h1 class="m-0 ps-2">@ViewData["Title"]</h1>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="pt-5"></div> <!-- a buffer to push content down so that header won't cover it' -->
    <div class="row">
        <div class="col-auto me-auto">
            <div class="status px-3 py-1">
                FOR REVIEW
            </div>
        </div>
    </div>
    <div class="container row mt-3 mx-auto py-2 px-1 partial-view-selector">
        <div class="d-flex col-auto align-items-center pe-0">
            Select information to view:
        </div>
        <div class="col">
            <select class="form-select py-1" id="partialViewSelector" name="partialViewSelector" required>
                <option selected value="1">APPLICANT PERSONAL INFORMATION</option>
                <option value="2">INTERVIEW / EXAMINATION STATUS</option>
            </select>
        </div>
    </div>

    <!-- APPLICANT PERSONAL INFORMATION VIEW -->
    <div id="PersonalInformation_View" class="container mt-3">
        <!-- PERSONAL INFORMATION -->
        <div class="row text-header text-bold ps-2 mt-3">RESUME</div>
        <div class="row mt-3">
            <div class="col-12">
                <!-- Pop-up PDF reader modal -->
                <button type="button" id="resume" class="text-center resume px-auto w-100" data-bs-toggle="modal" data-bs-target="#ResumeReaderModal">
                    <img src="~/images/icons/pdf-icon.png" />
                    <br />
                    <span>Resume.pdf</span>
                </button>
            </div>
        </div>
        <div class="row text-header text-bold ps-2 mt-3">PERSONAL INFORMATION</div>
        <div class="row mt-3"> 
            <div class="d-flex col-auto align-items-center mt-2">
                <div class="photo-container">
                    <!--Insert src of applicant photo here-->
                    <img class="h-100 w-100 rounded-3" src="~/applicants/photo/sample-photo.png" />
                    <!--
                        If photo does not exist this, this line of code will run instead
                        <img src="~/images/Photo-Placeholder.png"/>
                    -->
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col col-md-4 form-group mt-2">
                        <label>First Name </label>
                        <input class="form-control" type="text" name="firstname" readonly />
                    </div>
                    <div class="col col-md-4 form-group mt-2">
                        <label>Middle Name </label>
                        <input class="form-control" type="text" name="middlename" readonly />
                    </div>
                    <div class="col col-md-4 form-group mt-2">
                        <label>Last Name </label>
                        <input class="form-control" type="text" name="lastname" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group mt-1">
                        <label for="birthday">Birthday</label>
                        <input class="form-control" type="date" name="birthday" readonly />
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT INFORMATION -->
        <div class="row text-header text-bold ps-2 mt-3">CONTACT INFORMATION</div>
        <div class="row form-row mt-3">
            <div class="col-12 form-group mt-2">
                <label>Street </label>
                <input class="form-control" id="street" type="text" name="street" readonly />
            </div>
            <div class="col-4 form-group mt-2">
                <label>City </label>
                <input class="form-control" id="city" type="text" name="city" readonly />
            </div>
            <div class="col-4 form-group mt-2">
                <label>Province </label>
                <input class="form-control" id="province" type="text" name="province" readonly />
            </div>
            <div class="col-4 form-group mt-2">
                <label>Zipcode </label>
                <input class="form-control" id="zipcode" type="number" name="zipcode" readonly />
            </div>
        </div>
        <div class="row form-row mt-3">
            <div class="col-6 form-group mt-1">
                <label for="number">Phone Number</label>
                <input class="form-control" id="number" type="number" name="number" readonly />
            </div>
            <div class="col-6 form-group mt-1">
                <label for="email">Email Address</label>
                <input class="form-control" id="email" type="text" name="email" readonly />
            </div>
        </div>
        <!-- CHARACTER REFERENCE -->
        <div class="row text-header text-bold ps-2 mt-3">CHARACTER REFERENCE</div>
        <div class="row form-row mt-3">
            <label class="text-bold">Reference 1</label>
            <div class="row form-row">
                <div class="col-4 form-group mt-2">
                    <label for="name">Full Name </label>
                    <input class="form-control" id="name" type="text" name="name" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="relationship">Relationship</label>
                    <input class="form-control" id="relationship" type="text" name="relationship" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="email">Email Adress</label>
                    <input class="form-control" id="email" type="text" name="email" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="number">Phone Number</label>
                    <input class="form-control" id="number" type="number" name="number" readonly />
                </div>
            </div>
        </div>
        <div class="row form-row mt-3">
            <label class="text-bold">Reference 2</label>
            <div class="row form-row">
                <div class="col-4 form-group mt-2">
                    <label for="name">Full Name </label>
                    <input class="form-control" id="name" type="text" name="name" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="relationship">Relationship</label>
                    <input class="form-control" id="relationship" type="text" name="relationship" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="email">Email Adress</label>
                    <input class="form-control" id="email" type="text" name="email" readonly />
                </div>
                <div class="col-4 form-group mt-2">
                    <label for="number">Phone Number</label>
                    <input class="form-control" id="number" type="number" name="number" readonly />
                </div>
            </div>
        </div>
        <!-- ADDITIONAL INFORMATION -->
        <div class="row text-header text-bold ps-2 mt-3">ADDITIONAL INFORMATION</div>
        <div class="row mt-3">
            <div class="row form-row mt-3">
                <div class="col-12 form-group">
                    <label for="additional">How did you hear about us?</label>
                    <select class="form-select mt-2 reference" id="additional" name="additional" disabled>
                        <option selected disabled value=""></option>
                        <option value="LinkedIn Job Post">LinkedIn Job Post</option>
                        <option value="Recruitment Team">Recruitment Team</option>
                        <option value="Peers & Friends">Peers & Friends</option>
                        <option value="Social Media Platforms">Social Media Platforms</option>
                        <option value="Career Page">Career Page</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="row mt-5 justify-content-center">
            <div class="col-auto">
                <button class="btn shortlist px-5 py-2">
                    SHORTLIST
                </button>
            </div>
            <div class="col-auto">
                <!-- A confirmation modal will pop-up -->
                <button id="RejectApplicant " class="btn reject px-5 py-2" data-bs-toggle="modal" data-bs-target="#RejectApplicantModal">
                    REJECT
                </button>
            </div>
        </div>
    </div>

    <!-- INTERVIEW / EXAMINATION STATUS VIEW -->
    <div id="InterviewExamStatus_View" class="container mt-3">
        <!-- APPLICANT INFORMATION SUMMARY -->
        <div class="row text-header text-bold ps-2 mt-3">APPLICANT INFORMATION SUMMARY</div>
        <div class="row mt-3">
            <div class="col d-grid align-items-center">
                <div class="row form-group">
                    <div class="col-2 d-flex align-items-center justify-content-end pe-0">
                        <label class="d-inline">Full Name: </label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="fullname" type="text" name="fullname" placeholder="" readonly />
                    </div>
                </div>
                <div class="row form-group mt-3">
                    <div class="col-2 d-flex align-items-center justify-content-end pe-0">
                        <label class="d-inline">Job Applied: </label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="jobapplied" type="text" name="jobapplied" placeholder="" readonly />
                    </div>
                </div>
                <div class="row form-group mt-3">
                    <div class="col-2 d-flex align-items-center justify-content-end pe-0">
                        <label class="d-inline">Date Applied: </label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="dateapplied" type="text" name="dateapplied" placeholder="" readonly />
                    </div>
                </div>
            </div>
        </div>
        <!-- INTERVIEW/EXAMINATION STATUS -->
        <div class="row text-header text-bold ps-2 mt-3">INTERVIEW/EXAMINATION STATUS</div>
        <table class="table mt-3">
            <thead>
                <tr class="table-header">
                    <th scope="col" class="col-4">Interview / Exam</th>
                    <th scope="col" class="col-4">Interviewer / Examiner</th>
                    <th scope="col" class="col-2">Date</th>
                    <th scope="col" class="col-2">Status</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>HR Interview</td>
                    <td>Jane Marie Doe</td>
                    <td>July 1, 2023</td>
                    <td>
                        <span class="passed px-4 py-1">
                            PASSED
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Technical Exam</td>
                    <td>Jane Marie Doe</td>
                    <td>July 2, 2023</td>
                    <td>
                        <span class="passed px-4 py-1">
                            PASSED
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Technical Interview</td>
                    <td>Jane Marie Doe</td>
                    <td>July 3, 2023</td>
                    <td>
                        <span class="passed px-4 py-1">
                            PASSED
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Background Check</td>
                    <td>Jane Marie Doe</td>
                    <td>July 4, 2023</td>
                    <td>
                        <span class="passed px-4 py-1">
                            PASSED
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Final Interview</td>
                    <td>Jane Marie Doe</td>
                    <td>July 5, 2023</td>
                    <td>
                        <span class="passed px-4 py-1">
                            PASSED
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var PersonalInfoView = $('#PersonalInformation_View');
    var InterviewStatus = $('#InterviewExamStatus_View');
    $(document).ready(function () {
        InterviewStatus.addClass("d-none");
    });
    $("#partialViewSelector").on("change", function () {
        var Id = $(this).val()
        if (Id == 1) {
            InterviewStatus.addClass("d-none");
            PersonalInfoView.removeClass("d-none");
        } else {
            InterviewStatus.removeClass("d-none");
            PersonalInfoView.addClass("d-none");
        }
    });
</script>

<!-- Reject Modal -->
<div class="modal fade" id="RejectApplicantModal" tabindex="-1" role="dialog" aria-labelledby="RejectApplicantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RejectApplicantModalLabel">Confirm Reject</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="d-none">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reject this applicant?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger">Reject</a>
            </div>
        </div>
    </div>
</div>

<!-- Resume reader Modal -->
<div class="modal fade" id="ResumeReaderModal" tabindex="-1" role="dialog" aria-labelledby="ResumeReaderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">RESUME.PDF</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="h2 mb-0" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <div class="resumeFile">
                    <!--Insert src of applicant resume here-->
                    <iframe class="w-100" style="height: 80vh;" src="~/applicants/resume/sample-resume.pdf"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>