@{
    ViewData["Title"] = "Create New Job Post";
    Layout = null;
    <link rel="stylesheet" href="~/css/CreateJobPost.css" />
}   

<div class="header-container">
    <img src="~/images/icons/back-icon.png" alt="Back to previous page" class="return-icon" />
    <h1 class="create-header">@ViewData["Title"]</h1>
</div>
<div class="content">

</div>