@{
    ViewData["Title"] = "Edit Job Posting";
    Layout = "_SideBarAdmin";

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/EditJobPost.css" />
}   

<div class="edit-container">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="content">
    <p>Input all the required details to add a new job post.</p>
    <div class="input-container">
        <label for="position">Position:</label>
        <input id="position" type="text" name="position" />
    </div>

    <div class="input-container">
        <label for="description">Description:</label>
        <div class="description-input-rows">
            <div class="description-input-row">
                <textarea id="description" name="description" class="description-input" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="input-container">
        <label for="qualification">Qualification:</label>
        <div class="qualification-input-rows">
            <div class="qualification-input-row">
                <textarea id="qualification" name="qualification" class="qualification-input" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="input-container">
        <label for="responsibility">Responsibility:</label>
        <div class="responsibility-input-rows">
            <div class="responsibility-input-row">
                <textarea id="responsibility" name="responsibility" class="responsibility-input" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="select-container">
        <label for="worksetup">Work Setup:</label>
        <select id="worksetup" name="worksetup">
            <option selected disabled value="">Choose...</option>
            <option value="Online">Online</option>
            <option value="Onsite">Onsite</option>
            <option value="Hybrid (Onsite/Online)">Hybrid (Onsite/Online)</option>
        </select>
        <label for="workinghours" style="margin-left: 20px;">Working Hours:</label>
        <select id="workinghours" name="workinghours">
            <option selected disabled value="">Choose...</option>
            <option value="8-Hour Shift">8-Hour Shift</option>
            <option value="4-Hour Shift">4-Hour Shift</option>
        </select>
    </div>
    <div class="select-container">
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option selected disabled value="">Choose...</option>
            <option value="Open">Open</option>
            <option value="Urgent">Urgent</option>
            <option value="Closed">Closed</option>
            <option value="On Hold">On Hold</option>
        </select>
        <label for="employmenttype" style="margin-left: 20px;">Employment Type:</label>
        <select id="employmenttype" name="employmenttype">
            <option selected disabled value="">Choose...</option>
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            <option value="Temporary">Temporary</option>
            <option value="Contract">Contract</option>
            <option value="Freelance">Freelance</option>
            <option value="Internship">Internship</option>
        </select>
    </div>
    <div class="bottom-btn">
        <a class="cancel-btn" type="button" asp-controller="HR" asp-action="JobPostList">CANCEL</a>
        <a class="save-button" type="button" asp-controller="HR" asp-action="JobPostList">SAVE</a>
    </div>
</div>